
aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==2.0.106
requests
tgcrypto
yt-dlp
olefile
lk21
filetype
tldextract
Flask
gunicorn==20.1.0
Jinja2
werkzeug
itsdangerous
asyncio
aiofiles
psutil
ffmpeg-python
python-telegram-bot
motor
dnspython
pymongo
python-dotenv
uvloop
httpx
nest_asyncio
lxml
python-multipart
